version: '3.9'

services:
  postgres:
    container_name: mogic-voice-postgres
    image: postgres:16-alpine
    restart: always
    ports:
      - 5433:5432
    environment:
      POSTGRES_PASSWORD: password
      POSTGRES_USER: postgres
      POSTGRES_DB: magic_voice_db
    volumes:
      - ./create-db.sql:/docker-entrypoint-initdb.d/initdb.sh